@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;600;700&display=swap');

$font-kanit: 'Kanit';

h1 {
    font-size: 36px;
    font-weight: 600;
    margin: 1rem 0rem;
}

h2 {
    font-size: 24px;
    font-weight: 500;
    margin: 0.5rem 0rem;
}

h3 {
    font-size: 20px;
    font-weight: 600;
}

h4 {
    font-size: 16px;
    font-weight: 500;
    margin: 0rem 0.5rem;
}

.b1 {
    font-size: 20px;
}

.b2 {
    font-size: 16px;
}

.b3 {
    font-size: 14px;
}

.fw-500{
    font-weight: 500;
}

.fw-600{
    font-weight: 600;
}